ComputerAdd.cmp ComputerAdd-external.cmp ComputerMax.cmp ComputerMax-external.cmp ComputerRect.cmp ComputerRect-external.cmp CPU.cmp CPU-external.cmp Memory.cmp ComputerAdd-external.tst ComputerAdd.tst ComputerMax-external.tst ComputerMax.tst ComputerRect-external.tst ComputerRect.tst CPU-external.tst CPU.tst Memory.tst
